{% extends "base.html" %}

{% block contents %}
<div class="about">
  <h2>Gallery</h2>
  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a viverra
      sem. Nam eu euismod sem. Interdum et malesuada fames ac ante ipsum primis
      in faucibus. Donec erat leo, vestibulum ac lectus quis, sollicitudin maxim
      us nibh. Aenean venenatis, justo eu ornare tempor, nulla risus semper est,
      a vulputate nisi mauris ut nisi. Nam eu sem quis ante condimentum consequ
      at ac eget nisi. In et dapibus leo. Pellentesque congue, dui nec sodales
      venenatis, mauris justo volutpat ex, et dictum sapien sapien et neque. In
      et dapibus ex. Vestibulum imperdiet vulputate tempor. Aenean at placerat
      dui.
  </h3>
</div>
{%  endblock %}
