{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Gallery images / Galeria de images -->
<div class="gallery">
  <img src="{% static "img/airplane.jpg" %}" alt="Airplane">
  <div class="desc">Fusce at vulputate nisi. Nam sit amet lacus lacus. Quisque eget tortor lect
     us. Class aptent taciti so ciosqu ad litora torquent per conubia nostra, per
     inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus
     et malesuada fames ac turpis egestas. Mauris mollis hendrerit enim, sed por
     ta enim tincidunt vel. Phasellus pharetra ferment um tellus sed gravida.
     Class aptent taciti sociosqu ad litora torquent per conubia nostra, per in
     cep tos himenaeos. Ut vel congue elit, sed pellentesque magna. Fusce vel
     nulla felis. Proin convallis a turpis non scelerisque. Pellentesque interd
     um ulla mcorper nibh sit amet vestibulum. Class aptent taciti so ciosqu ad
     litora torquent per conubia nostra, per inceptos himenaeos.</div>
</div>

<div class="gallery">
  <img src="{% static "img/city.jpg" %}" alt="city">
  <div class="desc">Fusce at vulputate nisi. Nam sit amet lacus lacus. Quisque eget tortor lect
     us. Class aptent taciti so ciosqu ad litora torquent per conubia nostra, per
     inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus
     et malesuada fames ac turpis egestas. Mauris mollis hendrerit enim, sed por
     ta enim tincidunt vel. Phasellus pharetra ferment um tellus sed gravida.
     Class aptent taciti sociosqu ad litora torquent per conubia nostra, per in
     cep tos himenaeos. Ut vel congue elit, sed pellentesque magna. Fusce vel
     nulla felis. Proin convallis a turpis non scelerisque. Pellentesque interd
     um ulla mcorper nibh sit amet vestibulum. Class aptent taciti so ciosqu ad
     litora torquent per conubia nostra, per inceptos himenaeos.</div>
</div>

<div class="gallery">
  <img src="{% static "img/flash.jpg" %}" alt="Flash">
  <div class="desc">Fusce at vulputate nisi. Nam sit amet lacus lacus. Quisque eget tortor lect
     us. Class aptent taciti so ciosqu ad litora torquent per conubia nostra, per
     inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus
     et malesuada fames ac turpis egestas. Mauris mollis hendrerit enim, sed por
     ta enim tincidunt vel. Phasellus pharetra ferment um tellus sed gravida.
     Class aptent taciti sociosqu ad litora torquent per conubia nostra, per in
     cep tos himenaeos. Ut vel congue elit, sed pellentesque magna. Fusce vel
     nulla felis. Proin convallis a turpis non scelerisque. Pellentesque interd
     um ulla mcorper nibh sit amet vestibulum. Class aptent taciti so ciosqu ad
     litora torquent per conubia nostra, per inceptos himenaeos.</div>
</div>

<div class="gallery">
  <img src="{% static "img/city.jpg" %}" alt="City">
  <div class="desc">Fusce at vulputate nisi. Nam sit amet lacus lacus. Quisque eget tortor lect
     us. Class aptent taciti so ciosqu ad litora torquent per conubia nostra, per
     inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus
     et malesuada fames ac turpis egestas. Mauris mollis hendrerit enim, sed por
     ta enim tincidunt vel. Phasellus pharetra ferment um tellus sed gravida.
     Class aptent taciti sociosqu ad litora torquent per conubia nostra, per in
     cep tos himenaeos. Ut vel congue elit, sed pellentesque magna. Fusce vel
     nulla felis. Proin convallis a turpis non scelerisque. Pellentesque interd
     um ulla mcorper nibh sit amet vestibulum. Class aptent taciti so ciosqu ad
     litora torquent per conubia nostra, per inceptos himenaeos.</div>
</div>

<div class="gallery">
  <img src="{% static "img/torch.png" %}" alt="Torch">
  <div class="desc">Fusce at vulputate nisi. Nam sit amet lacus lacus. Quisque eget tortor lect
     us. Class aptent taciti so ciosqu ad litora torquent per conubia nostra, per
     inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus
     et malesuada fames ac turpis egestas. Mauris mollis hendrerit enim, sed por
     ta enim tincidunt vel. Phasellus pharetra ferment um tellus sed gravida.
     Class aptent taciti sociosqu ad litora torquent per conubia nostra, per in
     cep tos himenaeos. Ut vel congue elit, sed pellentesque magna. Fusce vel
     nulla felis. Proin convallis a turpis non scelerisque. Pellentesque interd
     um ulla mcorper nibh sit amet vestibulum. Class aptent taciti so ciosqu ad
     litora torquent per conubia nostra, per inceptos himenaeos.</div>
</div>

<div class="gallery">
  <img src="{% static "img/smile.png" %}" alt="Torch">

  <source src="static/img/smile.png" alt="Smile">
  <div class="desc">Fusce at vulputate nisi. Nam sit amet lacus lacus. Quisque eget tortor lect
     us. Class aptent taciti so ciosqu ad litora torquent per conubia nostra, per
     inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus
     et malesuada fames ac turpis egestas. Mauris mollis hendrerit enim, sed por
     ta enim tincidunt vel. Phasellus pharetra ferment um tellus sed gravida.
     Class aptent taciti sociosqu ad litora torquent per conubia nostra, per in
     cep tos himenaeos. Ut vel congue elit, sed pellentesque magna. Fusce vel
     nulla felis. Proin convallis a turpis non scelerisque. Pellentesque interd
     um ulla mcorper nibh sit amet vestibulum. Class aptent taciti so ciosqu ad
     litora torquent per conubia nostra, per inceptos himenaeos.</div>
</div>

<div class="gallery">
  <img src="{% static "img/cloud.jpg" %}" alt="Cloud">
  <div class="desc">Fusce at vulputate nisi. Nam sit amet lacus lacus. Quisque eget tortor lect
     us. Class aptent taciti so ciosqu ad litora torquent per conubia nostra, per
     inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus
     et malesuada fames ac turpis egestas. Mauris mollis hendrerit enim, sed por
     ta enim tincidunt vel. Phasellus pharetra ferment um tellus sed gravida.
     Class aptent taciti sociosqu ad litora torquent per conubia nostra, per in
     cep tos himenaeos. Ut vel congue elit, sed pellentesque magna. Fusce vel
     nulla felis. Proin convallis a turpis non scelerisque. Pellentesque interd
     um ulla mcorper nibh sit amet vestibulum. Class aptent taciti so ciosqu ad
     litora torquent per conubia nostra, per inceptos himenaeos.</div>
</div>

<div class="gallery">
  <img src="{% static "img/pacman.jpg" %}" alt="Pacman">
  <div class="desc">Fusce at vulputate nisi. Nam sit amet lacus lacus. Quisque eget tortor lect
     us. Class aptent taciti so ciosqu ad litora torquent per conubia nostra, per
     inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus
     et malesuada fames ac turpis egestas. Mauris mollis hendrerit enim, sed por
     ta enim tincidunt vel. Phasellus pharetra ferment um tellus sed gravida.
     Class aptent taciti sociosqu ad litora torquent per conubia nostra, per in
     cep tos himenaeos. Ut vel congue elit, sed pellentesque magna. Fusce vel
     nulla felis. Proin convallis a turpis non scelerisque. Pellentesque interd
     um ulla mcorper nibh sit amet vestibulum. Class aptent taciti so ciosqu ad
     litora torquent per conubia nostra, per inceptos himenaeos.</div>
</div>
{% endblock %}
