/*Contact CSS*/

/*Contact*/
h3 {
  margin-left: 25px;
  margin-bottom: 30px;
}

/*Text up the form field*/
label {
  margin-left: 8px;
}

/*Form field*/
.contact input[type=text], select {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-family: "Times New Roman", Georgia, Serif;
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0px;
    margin-left: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #cfd8dc;
    color: #111111;
}

.contact input[type=text]:focus, select {
  width: 90%;
}

.contact input[id=country], select {
  width: 25%;
  margin-left: 8px;
}

.contact input[type=submit] {
    width: auto;
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 8px;
    margin-bottom: 90px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact input[type=submit]:hover {
    background-color: #45a049;
}

.contact div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
